
.search-filter{
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top:40px;
    justify-content: space-between;
}
.filter{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.search>input{
    margin-right: 10px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    font-size: 1.5rem;
}
.icon{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
}
.dropdown-content{
    padding-top: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.line{
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    padding-right: 10px;
}
.option{
    display: flex;
}
.option2{
    display: flex;
}
.option>p{
    padding-left: 10px;
}

.option2>p{
    padding-right: 10px;
}