.name{
    font-size: 1rem;
    padding: 10px;
    font-family: 'Big Shoulders Text', cursive;
}
.desc{
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 59px; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.venue{
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
