.footer{
    height: 100px;
    background-color: #000000;
    color: white;
    display: flex;
}
.footer>h1{
    margin-right: 5px;
    display: flex;
    display: flex;
    align-items: center;
}

.theme-list{
    display: flex;
    align-items: center;
}
.theme{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
}
